In [15]:
import pandas as pd
import numpy as np
import pandas_profiling
import csv
from os import path
import acquire_titanic
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import sklearn.preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

import split_scale

# Use the function defined in acquire.py to load the iris data.

In [21]:
def get_iris_data():
    """
        reads from .csv or issues slq query, writes that sql as a .csv, and returns the data.
    """
    filename = "./iris_db.csv"
    if path.exists(filename):
        print(f'Reading data from {filename}')
    else:
        print(f'Reading data from query, writing to {filename}, and returning the dataframe')
        write_csv_of_data()

    # Return the dataframe read from the csv
    return pd.read_csv(filename)

df = get_iris_data()

df
# def prep_iris(df):
#     df = df.drop(columns = ["species_id", 'measurement_id'])
#     df.rename(columns ={'species_name': 'species'}, inplace = True)
#     train, test = train_test_split(df, train_size=.8, random_state=123)
#     int_encoder = LabelEncoder()
#     int_encoder.fit(train.species)
#     train.species = int_encoder.transform(train.species)
#     return train.species
prep_iris(df)

Reading data from ./iris_db.csv

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa
5,1,6,5.4,3.9,1.7,0.4,setosa
6,1,7,4.6,3.4,1.4,0.3,setosa
7,1,8,5.0,3.4,1.5,0.2,setosa
8,1,9,4.4,2.9,1.4,0.2,setosa
9,1,10,4.9,3.1,1.5,0.1,setosa
10,1,11,5.4,3.7,1.5,0.2,setosa
11,1,12,4.8,3.4,1.6,0.2,setosa
12,1,13,4.8,3.0,1.4,0.1,setosa
13,1,14,4.3,3.0,1.1,0.1,setosa
14,1,15,5.8,4.0,1.2,0.2,setosa
15,1,16,5.7,4.4,1.5,0.4,setosa
16,1,17,5.4,3.9,1.3,0.4,setosa
17,1,18,5.1,3.5,1.4,0.3,setosa
18,1,19,5.7,3.8,1.7,0.3,setosa
19,1,20,5.1,3.8,1.5,0.3,setosa
20,1,21,5.4,3.4,1.7,0.2,setosa
21,1,22,5.1,3.7,1.5,0.4,setosa
22,1,23,4.6,3.6,1.0,0.2,setosa
23,1,24,5.1,3.3,1.7,0.5,setosa
24,1,25,4.8,3.4,1.9,0.2,setosa
25,1,26,5.0,3.0,1.6,0.2,setosa
26,1,27,5.0,3.4,1.6,0.4,setosa
27,1,28,5.2,3.5,1.5,0.2,setosa
28,1,29,5.2,3.4,1.4,0.2,setosa
29,1,30,4.7,3.2,1.6,0.2,setosa
...,...,...,...,...,...,...,...
120,3,121,6.9,3.2,5.7,2.3,virginica
121,3,122,5.6,2.8,4.9,2.0,virginica
122,3,123,7.7,2.8,6.7,2.0,virginica
123,3,124,6.3,2.7,4.9,1.8,virginica
124,3,125,6.7,3.3,5.7,2.1,virginica
125,3,126,7.2,3.2,6.0,1.8,virginica
126,3,127,6.2,2.8,4.8,1.8,virginica
127,3,128,6.1,3.0,4.9,1.8,virginica
128,3,129,6.4,2.8,5.6,2.1,virginica
129,3,130,7.2,3.0,5.8,1.6,virginica
130,3,131,7.4,2.8,6.1,1.9,virginica
131,3,132,7.9,3.8,6.4,2.0,virginica
132,3,133,6.4,2.8,5.6,2.2,virginica
133,3,134,6.3,2.8,5.1,1.5,virginica
134,3,135,6.1,2.6,5.6,1.4,virginica
135,3,136,7.7,3.0,6.1,2.3,virginica
136,3,137,6.3,3.4,5.6,2.4,virginica
137,3,138,6.4,3.1,5.5,1.8,virginica
138,3,139,6.0,3.0,4.8,1.8,virginica
139,3,140,6.9,3.1,5.4,2.1,virginica
140,3,141,6.7,3.1,5.6,2.4,virginica
141,3,142,6.9,3.1,5.1,2.3,virginica
142,3,143,5.8,2.7,5.1,1.9,virginica
143,3,144,6.8,3.2,5.9,2.3,virginica
144,3,145,6.7,3.3,5.7,2.5,virginica
145,3,146,6.7,3.0,5.2,2.3,virginica
146,3,147,6.3,2.5,5.0,1.9,virginica
147,3,148,6.5,3.0,5.2,2.0,virginica
148,3,149,6.2,3.4,5.4,2.3,virginica
149,3,150,5.9,3.0,5.1,1.8,virginica

# Drop the species_id and measurement_id columns.

In [ ]:
df = df.drop(columns = ["species_id", 'measurement_id'])

# Rename the species_name column to just species.

In [ ]:
df.rename(columns ={'species_name': 'species'}, inplace = True)

# Encode the species name using a sklearn label encoder. Research the inverse_transform method of the label encoder. How might this be useful?

In [ ]:
# def prep_iris(df):
#     df = df.drop(columns = ["species_id", 'measurement_id'])
#     df.rename(columns ={'species_name': 'species'}, inplace = True)
#     train, test = train_test_split(iris, train_size=.8, random_state=123)
#     int_encoder = LabelEncoder()
#     int_encoder.fit(train.species)
#     train.species = int_encoder.transform(train.species)
#     return train.species

# See First Cell for Function

# Titanic Data

Use the function you defined in acquire.py to load the titanic data set.

In [17]:
def get_titanic_data():
    """
        reads from .csv or issues slq query, writes that sql as a .csv, and returns the data.
    """
    filename = "./titanic_db.csv"
    if path.exists(filename):
        print(f'Reading data from {filename}')
    else:
        print(f'Reading data from query, writing to {filename}, and returning the dataframe')
        write_csv_of_data()

    # Return the dataframe read from the csv
    return pd.read_csv(filename)
df = get_titanic_data()
df

Reading data from ./titanic_db.csv

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
5,5,0,3,male,NaN,0,0,8.4583,Q,Third,NaN,Queenstown,1
6,6,0,1,male,54.0,0,0,51.8625,S,First,E,Southampton,1
7,7,0,3,male,2.0,3,1,21.0750,S,Third,NaN,Southampton,0
8,8,1,3,female,27.0,0,2,11.1333,S,Third,NaN,Southampton,0
9,9,1,2,female,14.0,1,0,30.0708,C,Second,NaN,Cherbourg,0
10,10,1,3,female,4.0,1,1,16.7000,S,Third,G,Southampton,0
11,11,1,1,female,58.0,0,0,26.5500,S,First,C,Southampton,1
12,12,0,3,male,20.0,0,0,8.0500,S,Third,NaN,Southampton,1
13,13,0,3,male,39.0,1,5,31.2750,S,Third,NaN,Southampton,0
14,14,0,3,female,14.0,0,0,7.8542,S,Third,NaN,Southampton,1
15,15,1,2,female,55.0,0,0,16.0000,S,Second,NaN,Southampton,1
16,16,0,3,male,2.0,4,1,29.1250,Q,Third,NaN,Queenstown,0
17,17,1,2,male,NaN,0,0,13.0000,S,Second,NaN,Southampton,1
18,18,0,3,female,31.0,1,0,18.0000,S,Third,NaN,Southampton,0
19,19,1,3,female,NaN,0,0,7.2250,C,Third,NaN,Cherbourg,1
20,20,0,2,male,35.0,0,0,26.0000,S,Second,NaN,Southampton,1
21,21,1,2,male,34.0,0,0,13.0000,S,Second,D,Southampton,1
22,22,1,3,female,15.0,0,0,8.0292,Q,Third,NaN,Queenstown,1
23,23,1,1,male,28.0,0,0,35.5000,S,First,A,Southampton,1
24,24,0,3,female,8.0,3,1,21.0750,S,Third,NaN,Southampton,0
25,25,1,3,female,38.0,1,5,31.3875,S,Third,NaN,Southampton,0
26,26,0,3,male,NaN,0,0,7.2250,C,Third,NaN,Cherbourg,1
27,27,0,1,male,19.0,3,2,263.0000,S,First,C,Southampton,0
28,28,1,3,female,NaN,0,0,7.8792,Q,Third,NaN,Queenstown,1
29,29,0,3,male,NaN,0,0,7.8958,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,861,0,2,male,21.0,1,0,11.5000,S,Second,NaN,Southampton,0
862,862,1,1,female,48.0,0,0,25.9292,S,First,D,Southampton,1
863,863,0,3,female,NaN,8,2,69.5500,S,Third,NaN,Southampton,0
864,864,0,2,male,24.0,0,0,13.0000,S,Second,NaN,Southampton,1
865,865,1,2,female,42.0,0,0,13.0000,S,Second,NaN,Southampton,1
866,866,1,2,female,27.0,1,0,13.8583,C,Second,NaN,Cherbourg,0
867,867,0,1,male,31.0,0,0,50.4958,S,First,A,Southampton,1
868,868,0,3,male,NaN,0,0,9.5000,S,Third,NaN,Southampton,1
869,869,1,3,male,4.0,1,1,11.1333,S,Third,NaN,Southampton,0
870,870,0,3,male,26.0,0,0,7.8958,S,Third,NaN,Southampton,1
871,871,1,1,female,47.0,1,1,52.5542,S,First,D,Southampton,0
872,872,0,1,male,33.0,0,0,5.0000,S,First,B,Southampton,1
873,873,0,3,male,47.0,0,0,9.0000,S,Third,NaN,Southampton,1
874,874,1,2,female,28.0,1,0,24.0000,C,Second,NaN,Cherbourg,0
875,875,1,3,female,15.0,0,0,7.2250,C,Third,NaN,Cherbourg,1
876,876,0,3,male,20.0,0,0,9.8458,S,Third,NaN,Southampton,1
877,877,0,3,male,19.0,0,0,7.8958,S,Third,NaN,Southampton,1
878,878,0,3,male,NaN,0,0,7.8958,S,Third,NaN,Southampton,1
879,879,1,1,female,56.0,0,1,83.1583,C,First,C,Cherbourg,0
880,880,1,2,female,25.0,0,1,26.0000,S,Second,NaN,Southampton,0
881,881,0,3,male,33.0,0,0,7.8958,S,Third,NaN,Southampton,1
882,882,0,3,female,22.0,0,0,10.5167,S,Third,NaN,Southampton,1
883,883,0,2,male,28.0,0,0,10.5000,S,Second,NaN,Southampton,1
884,884,0,3,male,25.0,0,0,7.0500,S,Third,NaN,Southampton,1
885,885,0,3,female,39.0,0,5,29.1250,Q,Third,NaN,Queenstown,0
886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

# Handle the missing values in the embark_town and embarked columns.

In [ ]:
# dft = titanic
# dft.dtypes
# dft.age.value_counts(bins=10, sort=True)
# dft.embarked.value_counts(dropna=False)

In [ ]:
# dft.drop(columns=['deck'], inplace=True)
# dft.fillna(np.nan, inplace=True)
# train, test = train_test_split(dft, train_size=.8, random_state=123)
# train.embarked.value_counts(dropna=False)

In [18]:
def prep_titanic(df):
    
    df.drop(columns=['deck'], inplace=True)
    df.fillna(np.nan, inplace=True)
    train, test = train_test_split(df, train_size=.8, random_state=123)
    
    imp_mode = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

    imp_mode.fit(train[['embarked']])

    train['embarked'] = imp_mode.transform(train[['embarked']])

    test['embarked'] = imp_mode.transform(test[['embarked']])
    
    int_encoder = LabelEncoder()
    int_encoder.fit(train.embarked)
    train.embarked = int_encoder.transform(train.embarked)
    embarked_array = np.array(train.embarked)
    embarked_array = embarked_array.reshape(len(embarked_array), 1)
    ohe = OneHotEncoder(sparse=False, categories='auto')
    embarked_ohe = ohe.fit_transform(embarked_array)
    test.embarked = int_encoder.transform(test.embarked)
    embarked_array = np.array(test.embarked).reshape(len(test.embarked), 1)
    embarked_test_ohe = ohe.transform(embarked_array)
    train_age_fare = train[['age', 'fare']]
    test_age_fare = test[['age', 'fare']]
    scaler, train_age_fare_scaled, test_age_fare_scaled = split_scale.my_minmax_scaler(train_age_fare, test_age_fare)
    
    return embarked_test_ohe

In [19]:
prep_titanic(df)

array([[0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [ ]:
def rename_columns(df):
    df['species']=df['species_name']
    return df

def split(df, target, train_prop, seed):
    return train_test_split(df, train_size=train_prop, stratify=df[target], random_state=seed)

def impute(train, test, my_strategy, column_list):
    imputer = SimpleImputer(strategy=my_strategy)
    train[column_list] = imputer.fit_transform(train[column_list])
    test[column_list] = imputer.transform(test[column_list])
    return train, test, imputer

def encode(train, test, col_name):
    encoded_values = sorted(list(train[col_name].unique()))
    
    # Integer Encoding
    int_encoder = LabelEncoder()
    train.encoded = int_encoder.fit_transform(train[col_name])
    test.encoded = int_encoder.transform(test[col_name])
    
    # create 2D np arrays of the encoded variable (in train and test)
    train_array = np.array(train.encoded).reshape(len(train.encoded),1)
    test_array = np.array(test.encoded).reshape(len(test.encoded),1)

    # One Hot Encoding
    ohe = OneHotEncoder(sparse=False, categories='auto')
    train_ohe = ohe.fit_transform(train_array)
    test_ohe = ohe.transform(test_array)
    
    # Turn the array of new values into a data frame with columns names being the values
    # and index matching that of train/test
    # then merge the new dataframe with the existing train/test dataframe
    train_encoded = pd.DataFrame(data=train_ohe,
                            columns=encoded_values, index=train.index)
    train = train.join(train_encoded)
    test_encoded = pd.DataFrame(data=test_ohe,
                               columns=encoded_values, index=test.index)
    test = test.join(test_encoded)
    return train, test, int_encoder, ohe

def scale_minmax(train, test, column_list):
    scaler = MinMaxScaler()
    column_list_scaled = [col + '_scaled' for col in column_list]
    train_scaled = pd.DataFrame(scaler.fit_transform(train[column_list]), 
                                columns = column_list_scaled, 
                                index = train.index)
    train = train.join(train_scaled)
    test_scaled = pd.DataFrame(scaler.transform(test[column_list]), 
                                columns = column_list_scaled, 
                                index = test.index)
    test = test.join(test_scaled)
    return train, test, scaler

def prepare(df, drop_cols, target, train_prop, seed, impute_cols, impute_strategy, encode_col, scale_cols):
    df.fillna(np.nan, inplace=True)
    df.drop(columns=drop_cols, inplace=True)
    train, test = split(df=df, target=target, train_prop=train_prop, seed=seed)
    train, test, imputer = impute(train, test, my_strategy=impute_strategy, column_list=impute_cols)
    train, test, int_encoder, ohe = encode(train, test, col_name = encode_col)
    train, test, scaler = scale_minmax(train, test, column_list = scale_cols)
    return df, train, test, imputer, int_encoder, ohe, scaler