In [2]:
from __future__ import division
import itertools
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import pandas as pd
import math
from sklearn import metrics
from random import randint
from matplotlib import style
import seaborn as sns
%matplotlib inline

In [9]:
df = pd.read_csv('the_data.csv')
df.timestamp = pd.to_datetime
df = df.set_index('timestamp')

df.groupby('y').describe()

                        x
                    count  mean std   min   25%   50%   75%   max
timestamp
2018-04-30 00:00:00   1.0  1.84 NaN  1.84  1.84  1.84  1.84  1.84
2018-04-30 01:00:00   1.0  1.47 NaN  1.47  1.47  1.47  1.47  1.47
2018-04-30 02:00:00   1.0  0.20 NaN  0.20  0.20  0.20  0.20  0.20
2018-04-30 03:00:00   1.0  0.17 NaN  0.17  0.17  0.17  0.17  0.17
2018-04-30 04:00:00   1.0  2.06 NaN  2.06  2.06  2.06  2.06  2.06
2018-04-30 05:00:00   1.0  0.74 NaN  0.74  0.74  0.74  0.74  0.74
2018-04-30 06:00:00   1.0 -0.77 NaN -0.77 -0.77 -0.77 -0.77 -0.77
2018-04-30 07:00:00   1.0  0.98 NaN  0.98  0.98  0.98  0.98  0.98
2018-04-30 08:00:00   1.0  0.18 NaN  0.18  0.18  0.18  0.18  0.18
2018-04-30 09:00:00   1.0 -1.02 NaN -1.02 -1.02 -1.02 -1.02 -1.02
2018-04-30 10:00:00   1.0 -1.07 NaN -1.07 -1.07 -1.07 -1.07 -1.07
2018-04-30 11:00:00   1.0 -0.13 NaN -0.13 -0.13 -0.13 -0.13 -0.13
2018-04-30 12:00:00   1.0 -2.05 NaN -2.05 -2.05 -2.05 -2.05 -2.05
2018-04-30 13:00:00   1.0  1.25 NaN  1.25  1.25  1.25  1.25  1.25
2018-04-30 14:00:00   1.0 -0.36 NaN -0.36 -0.36 -0.36 -0.36 -0.36
2018-04-30 15:00:00   1.0  1.42 NaN  1.42  1.42  1.42  1.42  1.42
2018-04-30 16:00:00   1.0 -0.32 NaN -0.32 -0.32 -0.32 -0.32 -0.32
2018-04-30 17:00:00   1.0  0.28 NaN  0.28  0.28  0.28  0.28  0.28
2018-04-30 18:00:00   1.0 -1.11 NaN -1.11 -1.11 -1.11 -1.11 -1.11
2018-04-30 19:00:00   1.0  0.17 NaN  0.17  0.17  0.17  0.17  0.17
2018-04-30 20:00:00   1.0  1.21 NaN  1.21  1.21  1.21  1.21  1.21
2018-04-30 21:00:00   1.0 -0.81 NaN -0.81 -0.81 -0.81 -0.81 -0.81
2018-04-30 22:00:00   1.0  1.89 NaN  1.89  1.89  1.89  1.89  1.89
2018-04-30 23:00:00   1.0 -0.94 NaN -0.94 -0.94 -0.94 -0.94 -0.94
2018-05-01 00:00:00   1.0 -2.05 NaN -2.05 -2.05 -2.05 -2.05 -2.05
2018-05-01 01:00:00   1.0 -1.02 NaN -1.02 -1.02 -1.02 -1.02 -1.02
2018-05-01 02:00:00   1.0 -0.53 NaN -0.53 -0.53 -0.53 -0.53 -0.53
2018-05-01 03:00:00   1.0  0.25 NaN  0.25  0.25  0.25  0.25  0.25
2018-05-01 04:00:00   1.0  0.64 NaN  0.64  0.64  0.64  0.64  0.64
2018-05-01 05:00:00   1.0 -0.81 NaN -0.81 -0.81 -0.81 -0.81 -0.81
2018-05-01 06:00:00   1.0 -1.61 NaN -1.61 -1.61 -1.61 -1.61 -1.61
2018-05-01 07:00:00   1.0  0.21 NaN  0.21  0.21  0.21  0.21  0.21
2018-05-01 08:00:00   1.0 -0.24 NaN -0.24 -0.24 -0.24 -0.24 -0.24
2018-05-01 09:00:00   1.0  1.91 NaN  1.91  1.91  1.91  1.91  1.91
2018-05-01 10:00:00   1.0  1.21 NaN  1.21  1.21  1.21  1.21  1.21
2018-05-01 11:00:00   1.0 -1.59 NaN -1.59 -1.59 -1.59 -1.59 -1.59
2018-05-01 12:00:00   1.0  0.51 NaN  0.51  0.51  0.51  0.51  0.51
2018-05-01 13:00:00   1.0  0.16 NaN  0.16  0.16  0.16  0.16  0.16
2018-05-01 14:00:00   1.0  0.67 NaN  0.67  0.67  0.67  0.67  0.67
2018-05-01 15:00:00   1.0  0.23 NaN  0.23  0.23  0.23  0.23  0.23
2018-05-01 16:00:00   1.0 -1.30 NaN -1.30 -1.30 -1.30 -1.30 -1.30
2018-05-01 17:00:00   1.0 -1.26 NaN -1.26 -1.26 -1.26 -1.26 -1.26
2018-05-01 18:00:00   1.0  0.26 NaN  0.26  0.26  0.26  0.26  0.26
2018-05-01 19:00:00   1.0 -1.83 NaN -1.83 -1.83 -1.83 -1.83 -1.83
2018-05-01 20:00:00   1.0  0.28 NaN  0.28  0.28  0.28  0.28  0.28
2018-05-01 21:00:00   1.0  0.30 NaN  0.30  0.30  0.30  0.30  0.30
2018-05-01 22:00:00   1.0  0.26 NaN  0.26  0.26  0.26  0.26  0.26
2018-05-01 23:00:00   1.0  1.33 NaN  1.33  1.33  1.33  1.33  1.33

In [10]:
df.resample('D').sum()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'